.text-center
  - if @settings.nil?
    = simple_form_for @new_settings do |f|
      = f.input :name, label: 'Channel Name'
      = f.input :bot_name, label: 'Bot name'
      = f.input :web_url, label: 'Web Url'
      = f.button :submit
  - else
    = simple_form_for @settings do |f|
      = f.input :name, label: 'Channel Name'
      = f.input :bot_name, label: 'Bot name'
      = f.input :web_url, label: 'Web Url'
      = f.button :submit
